.app{
    text-align: center;
    margin-top: 0px;
}
body{
    margin: 0px;
    background-color: blanchedalmond;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}
#header{
    margin:0px;
}
