.gifCard{
    border:1px solid black;
    width: 18%;
    margin: 10px;

   
}
.gifContainer{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}
.gif{
    max-width: 95%;
}
.pagWrap{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}